/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.main_color{
    color:#EE5958;
}

.progress-bar {
    background: #EE5958;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    color: #666;
}
.nav_section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.setting{
    position: fixed;
    left:0;
    top:200px;
    z-index: 500;
}
.navbar-nav li{
    padding-left: 10px;
}
.navbar-nav li a{
    color:  #282828 !important; 
       font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px;
}

.navbar-nav li a:hover ,  .navbar-brand h2:hover{
    
    color:#EE5958 !important;
}
.carousel-caption h1{
    text-align: center;
}

.dot
{
    background: white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left:30%;
    -webkit-animation-name: dot_anime;
            animation-name: dot_anime;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@-webkit-keyframes dot_anime {
    from{top:10%;}
    to{top:70%;}

}
@keyframes dot_anime {
    from{top:10%;}
    to{top:70%;}

}
.upanddown{
    position: relative;
background: transparent;
    width: 20px;
    height: 40px;
padding: 10px;
    border: 2px solid wheat;
    border-radius: 30%;
}

/**************************header for all section  */
.header_all_sections p{
    font-size: 18px;
    color: #999;
}
.header{
    position: relative;
    padding: 20px;
    margin:  50px auto;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    z-index: 10;
}

.header::before{
    content: "A";
    color: rgba(201, 197, 196,0.7);
    font-size:80px ;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 48%;
    z-index: -10;
}

.header::after{
    content: "";
    background: black;
    color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 48%;
    z-index: 20;
}

/* why not working */
.header:hover  .header::after{
    width: 100px;
}

/* our team */
.header_ourteam{
    position: relative;
    padding: 20px;
    margin:  50px auto;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    z-index: 10;
}

.header_ourteam::before{
    content: "O";
    color: rgba(201, 197, 196,0.7);
    font-size:80px ;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 48%;
    z-index: -10;
}

.header_ourteam::after{
    content: "";
    background: black;
    color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 48%;
    z-index: 20;
}


.img-back{
overflow: hidden;
}
.img_hover{
    background-color: rgba(242, 84, 84, 0.85) !important;
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

}
.img_hover i{
    color: white;
    padding: 10px;
}
.img-back:hover  .img_hover{
    opacity: 1;
}
.img-back img{
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.img-back:hover  img{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.img-back h4{
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
h4:hover  {
color:brown
 }

/* heade services */
.header_services{
    position: relative;
    padding: 20px;
    margin:  50px auto;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    z-index: 10;
}

.header_services::before{
    content: "S";
    color: rgba(201, 197, 196,0.7);
    font-size:80px ;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 48%;
    z-index: -10;
}

.header_services::after{
    content: "";
    background: black;
    color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 48%;
    z-index: 20;
}

.sec4 i{
    color:#EE5958 ;
}
.sec4:hover h3{
    color:#EE5958 ;
}



/* blog client review */

.header_client{
    position: relative;
    padding: 20px;
    margin:  50px auto;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    z-index: 10;
}

.header_client::before{
    content: "C";
    color: rgba(201, 197, 196,0.7);
    font-size:80px ;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 48%;
    z-index: -10;
}

.header_client::after{
    content: "";
    background: black;
    color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 48%;
    z-index: 20;
}
/* contact */
/* blog client review */

.header_contact{
    position: relative;
    padding: 20px;
    margin:  50px auto;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    z-index: 10;
}

.header_contact::before{
    content: "";
    color: rgba(201, 197, 196,0.7);
    font-size:80px ;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 48%;
    z-index: -10;
}

.header_contact::after{
    content: "";
    background: black;
    color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 48%;
    z-index: 20;
}

.bloc_hover:hover h3{
    color:#EE5958 ;

}
 .x:hover a{
    color:#EE5958 ;
}

#info{background-image: url(../images/map.PNG);
background-size: 100% 100%
;}

 .info_con{
    background-color: rgba(35, 35, 35,0.7);
}
.info_con i{
    background-color: rgba(242, 84, 84, 0.5) !important;
}
.info_item p{
    color: #b0b0b0;
}

.info_item a{
    color: #b0b0b0 !important;

}
.info_item a:hover{
    color:#EE5958 !important ;
}
.info_item h3{
    color: #ffffff !important;

}

.icon i{
    color: #ffffff !important;

}

.icons i:hover{
    color:#EE5958 !important ;

}

.copy p{
    color: #b0b0b0 !important;
}
.footer_last{
    background-color: black !important;
}

.x{
    z-index: 100;
}
.active_img{
    border:10px solid #EE5958;
}
.section5_blog i{
    font-size: 35px;
}

.botn_hover:hover{
    background-color: rgba(243, 131, 131,0.8) !important;
}

.fix:hover{
background-color:#EE5958 !important ;
}